/**
 * Serenity UI v2017.1.170722 (https://www.serenityui.com)
 */
/*******************************************************************************
 *
 * Widget: Serenity UI Widgets
 *
 ******************************************************************************/


/**
 *
 * sr-scollbar-width
 *
 */

div.sr-scollbar-width {
    width:50px;
    height:50px;
    overflow-y:scroll;
    position:absolute;
    top:-200px;
    left:-200px;
}

div.sr-scollbar-width div {
    height:100px;
    width:100%;
}

/**
 *
 * sr-selectable: an element that can be selected
 *
 */

.sr-selectable:hover {
    cursor: pointer;
}

/**
 *
 * input fields
 *
 */

.sr-input, input.hasDatepicker {
    padding: .3em 0.2em;
}

/**
 *
 * icons
 *
 */

.sr-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/**
 *
 * checkboxes
 *
 */

.sr-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.sr-checkbox:hover {
    cursor: pointer;
}

/*******************************************************************************
 *
 * Widget: Serenity UI Overlay
 *
 ******************************************************************************/

.jx-overlay > * {
    position:relative;
}

.jx-overlay, .jx-overlay .ui-widget-overlay {
    position:absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
}

.jx-overlay-text {
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    margin-top: -2em;
    font-weight: bold;
    font-size: 1.1em;
}
/*******************************************************************************
 *
 * Widget: Serenity UI PagerPanel
 *
 ******************************************************************************/


.sr-pagerpanel .ui-widget-content {
	min-height: 2.1em;
	width: 100%;
	padding: 2px 0px;
}

/**
 *
 * sr-pagerpanel-input: div containing all user input widgets
 *
 */

.sr-pagerpanel-input {
	float:right;
}


/**
 *
 * sr-pagerpanel-gotopage: div containing goto page message and input
 *
 */

.sr-pagerpanel-gotopage {
	margin-right:15px;
	display:inline-block;
	overflow:hidden;
}

.sr-pagerpanel-gotopage .sr-pagerpanel-pagemessage {
	margin-right:10px;
}

.sr-pagerpanel-gotopage .sr-pagerpanel-pagenum {
	width: 3em;
	font-size: 0.8em !important;
}


/**
 *
 * sr-pagerpanel-pagesize: div containing page size message and dropdownlist
 *
 */

.sr-pagerpanel-pagesize {
	margin-right:15px;
	display:inline-block;
	overflow:hidden;
}

.sr-pagerpanel-pagesize .sr-pagerpanel-sizemessage {
    margin-right:10px;
}

.sr-pagerpanel-pagesize .sr-pagerpanel-sizeselect {
    margin-right:10px;
}

.sr-pagerpanel-pagesize .ui-selectmenu-button {
	float:right;
}

.sr-pagerpanel-pagesize .ui-selectmenu-button /*.ui-selectmenu-text*/ {
	padding: 1px 7px;
	font-size: 0.8em !important;
}


/**
 *
 * sr-pagerpanel-pagesize: div containing page size message and dropdownlist
 *
 */

.sr-pagerpanel-navigate {
	margin-right:2px;
	display:inline-block;
	overflow:hidden;
}

.sr-pagerpanel-navigate .sr-pagerpanel-items {
	display:inline-block;
	margin-right:10px;
}

.sr-pagerpanel-next, .sr-pagerpanel-prev {
	margin-right: 5px; 
	padding: 1px 7px; 
	font-size: 0.8em;
}


/* Font Awesome icons will be positioned the same as jQuery UI icons */
.ui-menu span.fa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2em;
    margin: auto 0;
    width: 16px;
    height: 16px;
    text-align: center;
}
/*******************************************************************************
 *
 * Widget: Serenity UI Table
 *
 ******************************************************************************/

.sr-table-header table {
    border-spacing: 0px;
}

.sr-table-body {
    overflow-y: auto;
    overflow-x: hidden;
}

    .sr-table-body table {
        border-spacing: 0px;
    }

/* Sortable column header */
th.sr-table-col-sortable:hover {
    cursor: pointer;
}

/* Filter column header action */
th.sr-table-col-filterable .fa-filter:hover {
    cursor: pointer;
}

/* Column header action container */
th div.sr-table-col-actions {
    position:absolute;
    top:0px;
    right:0px;    
}

/* Column header action image */
th div.sr-table-col-actions span.fa {
    padding:5px;
}

/*******************************************************************************
 *
 * Widget: Serenity UI Panel
 *
 ******************************************************************************/

.sr-panel-expander {
    min-width: 0.6em;
}

.sr-panel-expander-left {
    float:left;
    margin-right: 0.2em;
}

.sr-panel-expander-right {
    float: right;
}

.sr-panel-body {
    border-top-width: 0px;
    padding: .5em;
}

/*******************************************************************************
 *
 * Widget: Serenity UI Notification
 *
 ******************************************************************************/

.sr-notification-container {
    position: absolute;
    z-index: 10001
}

.sr-notification-instance-container {
    position: relative;
    margin: 5px 0px;
}

.sr-notification-instance.sr-hide-on-click:hover {
    cursor: pointer;
}

/*******************************************************************************
 *
 * Widget: Serenity UI Tree Lite
 *
 ******************************************************************************/

/*
 * Root Tree Node
 */

/* Add some space to the left of the root node */
.sr-tree-root {
    padding-left: 5px;
}

/* 
 * Tree Node
 */

/* Remove list styles from li element for a tree node  */
.sr-tree-node {
    list-style: none;
    margin-top: 1px;
    white-space: nowrap;
}

/* Div that contains the node icon and text */
.sr-tree-node-text {
    display:inline-block;
    padding: 4px 6px;
}
.sr-tree-node-text:hover {
    cursor: pointer;
}
    /* Icon within the node text div */
    .sr-tree-node-text > .sr-icon {
        display: inline-block;
        margin-right: 5px;
    }
    /* Text within the node text div */
    .sr-tree-node-text > div {
        display: inline-block;
    }

/* When a node is collapsed, hide the children */
.sr-tree-collapse > .sr-tree-children {
    display: none;
    overflow: hidden;
}

/* When a node is expanded, show the children */
.sr-tree-expand > .sr-tree-children {
    display: block;
    overflow: hidden;
}

/* Node "arrow" (for expanding and collapsing the node) */
.sr-tree-node-arrow {
    width: 16px;
    display: inline-block;
    margin-right: 5px;
}
.sr-tree-node-arrow:hover {
    cursor: pointer;
}

/* ul element that contains the child nodes of a parent node */
.sr-tree-children {
    padding-left: 10px;
}

/*******************************************************************************
 *
 * Widget: Serenity UI Chart
 *
 ******************************************************************************/

.sr-chart .sr-selectable:hover {
    cursor: pointer;
}